/*--- General ---*/
$x-wing-orange: #c0611e;
$background: black;
$text: white;
$text-emphasis: $x-wing-orange;
$text-shadow: black;
$title: $text-emphasis;

$link: $x-wing-orange;
$link-hover: lighten($link, 20%);
