/*--- General ---*/
$background: rgb(230, 230, 230);
$text: black;
$text-emphasis: rgb(225, 45, 0);
$text-shadow: black;
$title: $text-emphasis;

$link: rgb(0, 70, 225);
$link-hover: lighten($link, 20%);
$link-visited: darken($link, 20%);
