.footer{
    vertical-align: middle;
    font-size: 0.8em;
    width: $width;
    max-width: $max-width;
    padding: 1.5em 0;
    margin: 0 auto;
    text-align: center;
}

.legal{
    margin: 0 auto 1.5em auto;
}

.pixel-heart{
    width: 1em;
    margin: auto 1px 0 1px;
}
