.main{
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 4.7em); //height of footer is 4.6667 em
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-subtitle{
    color: $title;
    font-family: "Star Jedi", sans-serif;
}

.main-title, .main-subtitle, .content{
    text-shadow: 2px 2px 0 $text-shadow,
                2px 2px 5px $text-shadow;
}

.content{
    margin: 5em 0;
}
