/* ------------ External Imports ------------ */
@import "normalize";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- Animations ------- */
@import "animations";

/* ------- Fonts ------- */
@import "fonts";

/* ------- General Styles -------*/
body{
    font-size: $base-text-size;
    background-color: $background;
    color: $text;
}

a{
    color: $link;
    &:hover, &:focus{
        color: $link-hover;
    }
}

h1, h2, h3, h4, h5, h6{
    color: $title;
}

@import "space";
@import "main";
@import "footer";
@import "button";
